.about-me {
    color: #91948d;
    background-color: #fff;
}

.about-me_flex-container-column {
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-me__content {
    margin: 3%;
}

@media (max-width: 1200px) {
	.about-me__content {
		margin: 5%;
	}
}

@media (max-width:450px) {
	.about-me__content {
		margin: 30px;
	}
}

.about-me__header {
    margin-bottom: 22px;
	font-family: 'Source Sans Pro Light', sans-serif;
    font-size: 42px;
    color: black;
}

.about-me__text-1 {
    margin-bottom: 38px;
    color: #e2be8e;
}

.about-me__text-2 {
    margin-bottom: 10px;
    line-height: 28px;
}

.about-me__text-3 {
    line-height: 28px;
}

.image-2 {
    height: 100%;
    background: url("../images/1.jpg");
    background-position: top;
}

@media (max-width: 1200px) {
    .image-2 {
        height: auto;
    }
}

@media (max-width: 720px) {
    .image-2 {
        height: 300px;
    }
}

.my-skills {
    background-color: #e4ae58;
    color: #fff;
}

.my-skills_flex-container-column {
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-skills__content {
    margin: 10%;
}

.my-skills__header {
    margin-bottom: 22px;
	font-family: 'Source Sans Pro Light', sans-serif;
    font-size: 42px;
}

.my-skills__text {
    margin-bottom: 38px;
}

.my-skills__skill-block:not(:last-child) {
    margin-bottom: 25px;
}

.skill-block__text-row {
    display: flex;
    margin-bottom: 12px;
}

.skill-block_display-flex {
    display: flex;
    flex-wrap: wrap;
}

.skill-block__skill-name {
    width: 85%;
    font-family: 'Source Sans Pro Bold', sans-serif;
    color: #000;
    font-size: 15px;
}

.skill-block__progress-percent {
    width: 15%;
    font-family: 'Source Sans Pro Bold', sans-serif;
    color: #fff;
    font-size: 15px;
    text-align: right;
}

.skill-block__progress-bar {
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.skill-block__bar-complited {
    height: 100%;
    background-color: #000;
}

.skill-block__bar-empty {
    height: 100%;
    background-color: #fff;
}