.say-hello {
	background-color: #e9714c;
	color: #fff;
}

.say-hello_flex-container-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.say-hello__content {
	margin: 3%;
}

@media (max-width: 450px) {
	.say-hello__content {
		margin: 20px;
	}
}

.say-hello__header {
	margin-bottom: 30px;
	font-family: 'Source Sans Pro Light', sans-serif;
    font-size: 42px;
}

.say-hello__text {
	margin-bottom: 55px;
}

.say-hello__input {
	width: 100%;
	height: 45px;
	margin-bottom: 24px;
	border-bottom: 1px solid #f89f65;
}

.say-hello__input:focus-within {
	border-color: #e9714c;
}

.input {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 0 15px 0 15px;
	border: none;
	outline: none;
	background: none;
	font-family: 'Source Sans Pro Light', sans-serif;
	text-decoration: none;
	font-size: 20px;
	color: #fff;
}

.input_selection::selection {
	background-color: rgba(248, 159, 101, 0.7);
}

.textarea_selection::selection {
	background-color: rgba(248, 159, 101, 0.7);
}

.input:hover {
	transition: 0.3s;
	background-color: rgba(0, 0, 0, 0.10);
}

.input:focus {
	outline: 2px solid #f89f65;
	transition-duration: 0s;
	background-color: rgba(0, 0, 0, 0.10);
}

.input::-webkit-input-placeholder { /*wrong color in Edge*/
	color: #fff;
	font-family: 'Source Sans Pro Light', sans-serif;
	font-size: 20px;
}

.say-hello__textarea {
	width: 100%;
	height: 170px;
	margin-bottom: 30px;
	border-bottom: 1px solid #f89f65;
}

.say-hello__textarea:focus-within {
	border-color: #e9714c;
}

.textarea {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 5px 15px 5px 15px;
	overflow: auto;
	outline: none;
	resize: none;
	border: none;
	background: none;
	font-family: 'Source Sans Pro Light', sans-serif;
	text-decoration: none;
	font-size: 20px;
	color: #fff;
}

.textarea:hover {
	transition: 0.3s;
	background-color: rgba(0, 0, 0, 0.10);
}

.textarea:focus {
	outline: 2px solid #f89f65;
	transition-duration: 0s;
	background-color: rgba(0, 0, 0, 0.10);
}

.textarea::-webkit-input-placeholder { /*wrong color in Edge*/
	color: #fff;
	font-family: 'Source Sans Pro Light', sans-serif;
	font-size: 20px;
}

.say-hello__button {
	width: auto;
    max-width: 300px;
    height: 45px;
	margin: 0 0 15px 15px;
}

@media (max-width: 360px) {
	.say-hello__button {
		margin: 0;
	}
}

.image-5 {
	height: 100%;
    background: url("../images/2.jpg");
    background-position: center;
    background-size: cover;
}

@media ( max-width: 1200px ) {
	.image-5 {
		height: auto;
	}
}

@media (max-width: 720px) {
    .image-5 {
        height: 200px;
		background-position: center 15%;
    }
}

.contact-info {
	background-color: #161616;
	color: #858587;
}

.contact-info_flex-container-column {
	display: flex;
	flex-direction: column;
}

.contact-info__content {
	margin: 10%;
}

.contact-info__address {
	margin-bottom: 50px;
}

.contact-info__row {
	display: flex;
	margin-bottom: 21px;
}

.contact-info__row:last-child {
	margin-bottom: 0px;
}

.contact-info__header {
	margin-bottom: 26px;
	font-family: 'Source Sans Pro Light', sans-serif;
	font-size: 26px;
	color: #fff;
}

@media (max-width: 320px) {
	.contact-info__row {
		flex-wrap: wrap;
	}
}

.contact-info__icon {
	margin-right: 10px;
}

@media (max-width: 320px) {
	.contact-info__icon {		
		width: 100%;
		margin-right: 0;
		margin-bottom: 5px;		
	}
}
