.image-1 {
    height: 100%;
    background: url("../images/5.jpg");
    background-position: center;
    background-size: cover;
}

@media ( max-width: 1200px ) {
    .image-1 {
        height: 60px;
		background: linear-gradient(rgba(163, 163, 163, 0.65), rgba(163, 163, 163,.65)), url("../images/5.jpg");
    	background-position: center;
    	background-size: cover;
    }
}

.image-1__logo {
	height: auto;
	padding: 32px 0 0 172px;
}

@media ( max-width: 1200px ) {
	.image-1__logo {
		height: 100%;
		padding: 0;
		text-align: center;
		line-height: 60px;
	}
}

.logo__text {
	font-family: 'Source Sans Pro Bold', sans-serif;
	font-size: 25px;
	text-shadow: 1px 1px 0 #fff;
}

.get-started {
    color: #a79a92;
    background-color: #f0e2d7;
}

.get-started_flex-container-column {
	display: flex;
    flex-direction: column;
}

.get-started__menu {
	height: 98px;
	padding: 0 5% 0 5%;
}

.menu__items-container {
	height: 100%;
	font-family: 'Source Sans Pro SemiBold', sans-serif;
	text-transform: uppercase;
	font-size: 15px;	
}

.link {
	text-decoration: none;
	color: inherit;
	transition: 0.3s;
}

@media (max-width: 450px) {
	.link_toggle-menu {
		transition: 0s;
	}
}

.link_grey {
	color: #6f7374;
}

.link_grey:hover {
	color: #ddae66;
}

.link_yellow {
	color: #ddae66;
}

.link_yellow:hover {
	color: #6f7374;
}

.menu {
	height: 100%;
}

.menu__items-container_flex-container-row {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.get-started__content {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	justify-content: center;
    margin: 5%;
}

@media (max-width:450px) {
	.get-started__content {
		margin: 30px;
	}
}

.get-started__text-1 {
    margin-bottom: 24px;
    font-family: 'Source Sans Pro SemiBold', sans-serif;
    font-size: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.get-started__header {
    margin-bottom: 24px;
	font-family: 'Source Sans Pro Light', sans-serif;
    font-size: 42px;
    color: black;
}

.get-started__name_bold {
	font-family: 'Source Sans Pro Regular', sans-serif;
}

.get-started__text-2 {
    margin-bottom: 50px;
    line-height: 28px;
}

.get-started__button {
    width: auto;
    max-width: 172px;
    height: 42px;
}

.button {
    width: 100%;
    height: 100%;
	background: none;
	border: none;
	outline: none;
}

.button_black-style {
    border: 3px solid black;
    border-radius: 50px;
	font-family: 'Source Sans Pro Bold', sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.button_white-style {
	border-radius: 50px;
	font-family: 'Source Sans Pro Regular', sans-serif;
	font-size: 20px;
	background-color: #fff;
}

.button_white-style:hover {
	box-shadow: 0px 0px 8px 1px rgb(100, 100, 100);
    transition: .2s;
}

.button_black-style:hover {
    background-color: black;
    color: #f0e2d7;
    transition: .3s;
}
