.image-1 {
    height: 100%;
    background: url("../images/5.jpg");
    background-position: center;
    background-size: cover;
}

@media ( max-width: 1200px ) {
    .image-1 {
        height: 60px;
        background: url("../images/5.jpg");
        background-position: center;
        background-size: cover;
    }
}

.get-started {
    color: #a79a92;
    background-color: #f0e2d7;
}

.get-started_flex-container-column {
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.get-started__container {
    margin: 5%;
}

.get-started__text-1 {
    margin-bottom: 24px;
    font-family: 'Source Sans Pro SemiBold', sans-serif;
    font-size: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.get-started__header {
    margin-bottom: 24px;
	font-family: 'Source Sans Pro Light', sans-serif;
    font-size: 42px;
    color: black;
}

.get-started__name-bold {
	font-family: 'Source Sans Pro Regular', sans-serif;
}

.get-started__text-2 {
    margin-bottom: 50px;
    line-height: 28px;
}

.get-started__button {
    width: auto;
    max-width: 172px;
    height: 42px;
}

.button {
    width: 100%;
    height: 100%;
	background: none;
	border: none;
}

.button_black-style {
    border: 3px solid black;
    border-radius: 50px;    
}

.button_white-style {
	background-color: #fff;
	border-radius: 50px;
	font-family: 'Source Sans Pro Regular', sans-serif;
	font-size: 20px;
}

.button_white-style:hover {
	box-shadow: 0px 0px 8px 1px rgb(100, 100, 100);
    transition: .2s;
}

.button_black-style:hover {
    background-color: black;
    color: #f0e2d7;
    transition: .3s;
}

.button__container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.button__text {
    font-family: 'Source Sans Pro Bold', sans-serif;
    letter-spacing: 0.1em;
    color: inherit;
    text-transform: uppercase;
}
