.grid-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.grid-row__col-l {
    width: 100%;
    height: 100%;
}

.grid-row__col-m {
    width: 50%;
    height: 100%;
}

@media ( max-width: 1200px ) {
    .grid-row__col-m {
        width: 100%;
        height: 100%;
    }
}

.grid-row__col-s {
    width: 25%;
    height: 100%;
}

@media ( max-width: 1200px ) {
    .grid-row__col-s {
        width: 50%;
        height: 100%;
    }
}

@media ( max-width: 720px ) {
    .grid-row__col-s {
        width: 100%;
        height: 100%;
    }
}