.icon {
	font-family: FontAwesome;
}

.icon_small {
	padding: 20px;
}

.icon_computer::before {
	content: "\f108";
}

.icon_paper-plane::before {
	content: "\f1d8";
}

.icon_table::before {
	content: "\f0ce";
}

.icon_html::before {
	content: "\f13b";
}

.icon_laptop::before {
	content: "\f109";
}

.icon_star::before {
	content: "\f005";
}

.icon_phone::before {
	content: "\f095";
}

.icon_mail::before {
	content: "\f003";
}

.icon_web::before {
	content: "\f0ac";
}
/*--------------------*/
.icon_facebook::before {
	content: "\f09a";
}

.icon_twitter::before {
	content: "\f099";
}

.icon_google-plus::before {
	content: "\f0d5";
}

.icon_dribbble::before {
	content: "\f17d";
}

.icon_linked-in::before {
	content: "\f0e1";
}

.icon_black {
	color: #000;
}

