/*
.t7-main__item-01 {
    width: 50%;
    height: 819px;
}
*/

/*

.t7-main__item-02 {
    width: 50%;
    height: 819px;
    background-color: #f0e2d7;    
}

.t7-main__item-03 {
    width: 50%;
    height: 344px;
    background-color: #fff;
}

.t7-main__item-04 {
    width: 50%;
    height: 344px;
    background-color: #e4ae58;
}

.t7-main__item-05 {
    width: 50%;
    height: 336px;
    background-color: #e9714c;
}

.t7-main__item-06 {
    width: 50%;
    height: 336px;
    background-color: #161616;
}

.t7-main__item-07 {
    width: 50%;
    height: 386px;
}

.t7-main__item-08 {
    width: 50%;
    height: 386px;
    background-color: #e9714c;
}

.t7-main__item-09 {
    width: 50%;
    height: 443px;
    background-color: #e4ae58;
}

.t7-main__item-10 {
    width: 50%;
    height: 443px;
}

.t7-main__item-11 {
    width: 100%;
    height: 480px;
}

.t7-main__item-12 {
    width: 50%;
    height: 614px;
    background-color: #e9714c;
}

.t7-main__item-13 {
    width: 50%;
    height: 614px;
}

.t7-main__footer {
    width: 100%;
    height: 378px;
}*/