html {
    scroll-behavior: smooth;
    word-wrap: break-word;
}

html, body {
    height: 100%;
}

.t7-main__wrapper {
    width: 100%;
    height: 100%;  
}

.t7-main__get-started {
    height: 819px;
}

@media ( max-width: 1200px ) {
    .t7-main__get-started {
        height: auto;
    }
}

.t7-main_defaul-header-style {
    font-family: 'Source Sans Pro Light', sans-serif;
    font-size: 42px;
}

.t7-main_defaul-text-style {
    font-family: 'Source Sans Pro Regular', sans-serif;
    font-size: 16px;
}

.t7-main_display-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-1 {
    height: 100%;
    background: url("../images/5.jpg");
    background-position: center;
    background-size: cover;
}

@media ( max-width: 1200px ) {
    .image-1 {
        height: 90px;
        background: url("../images/5.jpg");
        background-position: center;
        background-size: cover;
    }
}

.get-started {
    color: #a79a92;
    background-color: #f0e2d7;
}

.get-started__container {
    padding: 5% 5% 5% 5%;
}

.get-started__text-1 {
    margin-bottom: 24px;
    font-family: 'Source Sans Pro SemiBold', sans-serif;
    font-size: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.get-started__header {
    margin-bottom: 24px;    
    color: black;
}

.get-started__header span {
    font-family: 'Source Sans Pro Regular', sans-serif;
}

.get-started__text-2 {
    margin-bottom: 50px;
    line-height: 28px;
}

.get-started__button {
    width: auto;
    max-width: 172px;
    height: 42px;    
}

.button {
    width: 100%;
    height: 100%;    
}

.button_black-style {
    border: 3px solid black;
    border-radius: 50px;
    background: none;
}

.button_black-style:hover {
    background-color: black;
    color: white;
    transition: .3s;
}

.button__container {    
    display: flex;
    justify-content: center;
    align-content: center;    
}

.button__text {
    font-family: 'Source Sans Pro Bold', sans-serif;
    letter-spacing: 0.1em;
    color: inherit;
    text-transform: uppercase;
}

.t7-main__description {
    height: 344px;
}

@media ( max-width: 1200px ) {
    .t7-main__description {
        height: auto;
    }
}

.description {
    color: #91948d;
    background-color: #fff;
}

.description__container {
    padding: 3% 3% 3% 3%;
}

.description__header {
    margin-bottom: 22px;    
    color: black;
}

.description__text-1 {
    margin-bottom: 38px;
    color: #e2be8e;
}

.description__text-2 {
    margin-bottom: 10px;
    line-height: 28px;
}

.description__text-3 {
    line-height: 28px;
}

.image-2 {
    height: 100%;
    background: url("../images/1.jpg");    
    background-position: top;
}

@media (max-width: 1200px) {
    .image-2 {
        height: auto;
        background: url("../images/1.jpg");    
        background-position: top;
    }
}

@media (max-width: 720px) {
    .image-2 {
        height: 300px;        
        background: url("../images/1.jpg");    
        background-position: top;
    }
}

.my-skills {
    background-color: #e4ae58;
    color: #fff;
}

.my-skills__container {
    padding: 10% 10% 10% 10%;
}

.my-skills__header {
    margin-bottom: 22px;
}

.my-skills__text {
    margin-bottom: 38px;
}

.my-skills__skill-block {
    margin-bottom: 25px;
}

.my-skills__skill-block:last-child {
    margin-bottom: 0;
}

.skill-block__text-row {
    display: flex;
    margin-bottom: 12px;
}

.skill-block_display-flex {
    display: flex;
    flex-wrap: wrap;
}

.skill-block__skill-name {
    width: 90%;
    font-family: 'Source Sans Pro Bold', sans-serif;
    color: #000;    
    font-size: 15px;
}

.skill-block__progress-percent {
    width: 10%;
    font-family: 'Source Sans Pro Bold', sans-serif;
    color: #fff;    
    font-size: 15px;
    text-align: right;
}

.skill-block__progress-bar {
    display: flex;
    width: 100%;
    height: 2px;    
}

.skill-block__bar-complited {
    height: 100%;
    background-color: #000;
}

.skill-block__bar-empty {
    height: 100%;
    background-color: #fff;
}
