html {
    scroll-behavior: smooth;
    word-wrap: break-word;
}

html, body {
    height: 100%;
}

.t7-main__wrapper {
    width: 100%;
    height: 100%;  
}

.t7-main__get-started {
    height: 819px;
}

@media ( max-width: 1200px ) {
    .t7-main__get-started {
        height: auto;
    }
}

.t7-main_defaul-header-style {
    font-family: 'Source Sans Pro Light', sans-serif;
    font-size: 42px;
}

.t7-main_defaul-text-style {
    font-family: 'Source Sans Pro Regular', sans-serif;
    font-size: 16px;
}

.t7-main_display-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.t7-main__description {
    height: 344px;
}

@media ( max-width: 1200px ) {
    .t7-main__description {
        height: auto;
    }
}